body {
    font-family: "Open Sans", Georgia, Cambria, Times, "Times New Roman", serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    margin-bottom: 50px;
    /*background-color: #f7f7f7;*/
    /*font-display: swap;*/
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}


.container {
    display: grid;
    grid-template-rows: minmax(65px, auto) minmax(100px, auto) 65px [footer-end];
    /*grid-template-columns: minmax(2vw,1fr) repeat(4, 1fr) minmax(2vw,1fr);*/
    grid-template-columns: 2vw repeat(4, 1fr) 2vw;
    grid-row-gap: min(4vw, 40px);
    grid-template-areas:
            ". header header header header  ."
            ". mainer mainer mainer mainer ."
            ". footer footer footer footer .";
    justify-items: center;
}

.container-element {
    max-width: 1200px;
    width: 100%;
}

.header {
    top: 0px;
    grid-area: header;
    /*background-color: #f7f7f7;*/
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid #eceefb;
    box-shadow: 5px 10px 18px #f0eef9;
    position: sticky;
    position: -webkit-sticky;
    z-index: 100;


}

.header .header-elem {
    padding: min(1.5vw, 10px) 0;
}

.header #HeaderLogo {
    padding: 10px 10px 0 5px;
    flex-basis: 60px;
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    text-align: center;
}

.header #headerLogoImage {
    height: 60px;
}

.header #HeaderTitle {
    /*text-align: center;*/
    vertical-align: center;
    padding-left: 10px;

    font-family: "Lora", Georgia, Times, "Times New Roman", serif;

    font-size: min(7vw, 2em);
    font-weight: bold;

    line-height: 1;

    flex-basis: 325px;
    flex-grow: 1;
    flex-shrink: 1;
    color: #98093b;
}


.header #headerSubheading {
    color: #005999;
    font-size: large;
    padding-top: 10px;
}

.header #navbar {
    text-align: center;
    display: flex;
    justify-content: flex-end;

    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 1;
}

@media screen and (max-width: 720px) {
    .header #HeaderTitle {
        text-align: center;
    }

    .header #navbar {
        justify-content: center;
        flex-grow: 1;
        flex-wrap: wrap;
    }
}

.header #navbar .navbar_button {
    padding: 10px min(2vw, 10px);
    font-family: "Alegreya SC", Georgia, Times, "Times New Roman", serif;
    font-size: max(1em, 12px);
    color: #cc0000;
}

.header #navbar .navbar_button:hover {
    text-decoration: underline;
}

.header #navbar .navbar_button a {
    font-family: "Alegreya SC", Georgia, Times, "Times New Roman", serif;
    font-size: max(1em, 12px);
    color: #cc0000;
}

.header #navbar .navbar-active {
    box-shadow: 0px 8px 6px -4px #c39fff;
}

#subscribe-holder {
    position: fixed;
    z-index: 10;
    bottom: 5%;
    right: 0%;
    /*background-color: #3356a7;*/
    /*color: #dedede;*/
    background-color: rgba(21, 154, 178, 0.04);
    color: #021c2b;
    padding: 20px 5px;
    transform: rotate(180deg);
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    transition: padding-left .5s;
    border-radius: 20px;
    border: 1px solid rgba(155, 155, 155, 0.06);

}

.subscribe-active {
    display: block;
}

.subscribe-inactive {
    display: none;
}

#subscribe-holder:hover {
    transition: padding-left .5s;
    padding-left: 20px;
}

#subscribe-holder a {
    line-height: 1.6;
    font-size: min(15px, 1.2em);
    font-weight: bold;
    text-orientation: inherit;
    padding: 20px 5px;
    font-family: Lora, Georgia, Cambria, Times, "Times New Roman", serif;
    letter-spacing: 3px;

}

.mainer {
    grid-area: mainer;
}

.mainer .inactive {
    display: none;
}

.mainer .active {
    display: block;
}

.mainer .home-header {
    font-family: "Lora", Georgia, Cambria, Times, "Times New Roman", serif;
    /*color: rgba(0, 67, 204, 0.85);*/
    color: rgba(167, 0, 0, 0.85);
    font-size: max(16px, 1.75em);
    font-weight: bold;
    padding: 5px 10px 10px 18px;
}

.mainer .home-header2 {
    font-family: "Lora", Georgia, Cambria, Times, "Times New Roman", serif;
    color: rgba(0, 67, 204, 0.85);
    font-size: max(16px, 1.25em);
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 10px;

}

.mainer .section-heading{
    font-family: "Lora", Georgia, Cambria, Times, "Times New Roman", Serif;
    font-size: max(16px, 1.75em);
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 26, 250, 0.12);
    font-weight: bold;
    color: #006633;
    margin: 0 auto;
    margin-top: 25px;

}


.mainer .home-textpara {
    color: rgb(90, 91, 106);
    font-size: max(12px, 1em);
    font-weight: bold;
    padding: 10px 0;
}

.mainer .home-textpara a {
    color: #33aaff;
}


.mainer #news-content ul{
    font-weight: normal;
}

.mainer #news-content li{
    padding: 10px 5px;
}

.mainer #Home #institutions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.mainer #Home #institutions .institute {
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 1;

    border-radius: 25px;
    border: 1px solid rgba(193, 193, 193, 0.48);
    padding: 20px;
    width: 300px;
    height: auto;
    margin: 5px;
}

.mainer #Home #institutions .institute .institute-name {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.mainer #Home #institutions .institute .institute-name .institute-name-link {
    font-family: "Open Sans", Georgia, Cambria, Times, "Times New Roman", serif;
    font-weight: bold;
    color: #01487b;
    /*color: #01487bcc;*/
    font-size: max(1.1em, 14px);
}


.mainer #Home #institutions .institute .name {
    display: inline;
    color: #5f5f5f;
    /*color: #697285b0;*/
    font-weight: bold;
}

.mainer #papers-container-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainer #sponsor-thanks {
    margin-top: 3px;
    padding-bottom: 24px;
    font-size: 15px;
    text-align: center;
    /*font-family: 'Lora';*/
    font-family: "Lora", Georgia, Times, "Times New Roman", serif;
    /*color: rgba(120, 5, 5, 0.85);*/
    /*color: rgb(0 89 153)*/
    color: rgb(0 33 56)
}

.buttonNav {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    /*box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;*/
    /*box-sizing: border-box;*/
    /*color: #3c4043;*/
    color: #af0c45;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.buttonNav:hover {
    background: #fff8fc;
    /*color: #174ea6;*/
}

.buttonNav:active {
    /*box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);*/
    outline: none;
}

.buttonNav:focus {
    outline: none;
    border: 2px solid #4285f4;
}


.mainer #papers-container .home-header {
    margin: 20px 0 10px 0;
}

.mainer #papers-container .paper-card {
    padding: 15px;
    box-shadow: 5px 10px 18px #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

.mainer #papers-container .paper-card:hover {
    /*transition: transform .75s;*/
    transition: transform .75s;
    /*transform: translateY(-10px);*/
    transform: translateY(-5px);
}

.mainer #papers-container .paper-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mainer #papers-container .paper-card .speaker-image-holder {
    flex-basis: 135px;
    flex-grow: 0;
    text-align: center;
    /*float: left;*/
}

.mainer #papers-container .paper-card .speaker-image {
    height: 120px;
    width: 120px;
    margin: 15px 15px 0 0;
    border-radius: 10%;
}

.mainer #papers-container .paper-card .paper-main-holder {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    /*float: left;*/
}

.mainer #papers-container .paper-card .paper-details-holder {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    /*float: left;*/
}

.mainer #papers-container .paper-fullpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mainer #papers-container .paper-fullpage .speaker-image-holder {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    /*float: left;*/
}

.mainer #papers-container .paper-fullpage .speaker-image {
    height: 120px;
    width: 120px;
    margin: 15px 15px 0 0;
    border-radius: 50%;
}

.mainer #papers-container .paper-fullpage .paper-main-holder {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    /*float: left;*/
}

.mainer #papers-container .paper-fullpage .paper-details-holder {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    /*float: left;*/
}


.mainer #papers-container .paper-card .paper-title {
    font-weight: bold;
    /*color: #005999;*/
    color: #545454;
    line-height: 1.6;
}

.mainer #papers-container .paper-card .paper-title:hover {
    text-decoration: underline;
}

.mainer #papers-container .paper-card .paper-authors {
    font-weight: bold;
    color: #f77e7e;
    padding: 0 0 0.5em 0;
    border-bottom: 1px solid rgba(0, 26, 250, 0.12);
}

.mainer #papers-container .paper-card .author-link-href {
    text-decoration-color: #f77e7e;
}

.mainer #papers-container .paper-card .paper-release-date {
    padding-top: 0.5em;
    line-height: 1.6;
    /*font-style: italic;*/
    color: #4eca91;
}

.mainer #papers-container .paper-card .paper-time:hover {
    text-decoration: underline;
}

.mainer #papers-container .paper-card .paper-publication-details {
    /*color: #777777;*/
    /*color: #63beff;*/
    color: #365d7999;
    line-height: 1.6;
}

.mainer #papers-container .paper-card .paper-notes {
    color: #a70101a8;
    /*color: #4c3d9e9e;*/
}


.mainer #papers-container .paper-card .paper-abstract-short {
    color: #5f5f5f;
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid rgba(0, 26, 250, 0.12);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.75em;
}

.mainer #papers-container .paper-card .paper-abstract {
    /*color:#697285;*/
    color: #5f5f5f;
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid rgba(0, 26, 250, 0.12);
}

.mainer #papers-container .paper-card .paper-abstract-seeless {
    text-align: right;
    /*font-weight: bold;*/
    font-size: x-small;
    color: #c1c1c1;
}

.mainer #papers-container .paper-card .paper-abstract-seemore {
    text-align: right;
    /*font-weight: bold;*/
    font-size: x-small;
    color: #c1c1c1;
}


.mainer #Publications .publication-title {
    font-weight: bold;
}

.mainer #Publications .publication-title a {
    color: #005999;
}

.mainer #Publications .publication-authors {
    color: #f77e7e;
    font-weight: bold;
}

.mainer #Publications .publication-authors a {
    /*color: #ff8888;*/
    color: #f77e7e;
}

.mainer #Publications .publication-location {
    font-style: italic;
}

.footer {
    grid-area: footer;
    border-top: 1px solid #eceefb;
    box-shadow: 5px -10px 18px #f4f4f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: self-end;
    padding: 10px 0;
    margin-top: 25px;
}

.footer {
    position: fixed;
    min-height: 25px;
    bottom: 0px;
    margin-bottom: 0px;
    background-color: white;
    font-size: 1.6vh;
    /*position: sticky;*/
    /*position: -webkit-sticky;*/
}

.footer #copyright {
    font-family: "Alegreya SC", Georgia, Times, "Times New Roman", serif;
    color: #005999;
    text-align: center;
    font-size: 14px;
}

/*Seminar*/
#seminarHome {
    margin: 25px 0px;
}

#seminarHome .paper-title {
    text-align: center;
    font-size: max(16px, 2em);
    font-weight: bold;
    font-family: Lora, Georgia, Cambria, Times, "Times New Roman", serif;
    color: rgba(158, 29, 29, 0.85);
    color: #ab3c3cd9;
}

#seminarHome .paper-authors {
    text-align: center;
    font-style: italic;
    font-family: Lora, Georgia, Cambria, Times, "Times New Roman", serif;
    color: #093598;
    border-bottom: 1px solid #ececec;
    padding: 5px 0px 10px 0px;
    font-weight: bold;
}

#seminarHome .paper-dateloc {
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /*border-bottom: 1px solid #ececec;*/
}

#seminarHome .paper-dateloc {
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /*border-bottom: 1px solid #ececec;*/
}

#seminarHome .paper-dateloc-child {
    padding: 5px 0px;
    /*color: #006544;*/
    color: #00631e;
    font-family: Lora, Georgia, Cambria, Times, "Times New Roman", serif;
}

#seminarHome .paper-abstract {
    font-family: "Open Sans", Georgia, Cambria, "Times New Roman", Times, serif;
    padding: 15px 0px;
    text-align: justify;
    line-height: 1.6;

}


#seminarHome .paper-notes {
    margin-top: 25px;
    padding-top: 10px;
    border-top: 1px solid #ececec;
    font-weight: 500;
    font-size: max(11px, 0.9em);
    color: #a2a2a2;
    font-family: "Open Sans", Georgia, Cambria, "Times New Roman", Times, serif;
}

#seminarHome .paper-paper {
    padding-top: 5px;
    font-weight: 500;
    font-size: max(11px, 0.9em);
    font-style: italic;
    color: #a2a2a2;
    font-family: "Open Sans", Georgia, Cambria, "Times New Roman", Times, serif;
}

#seminarHome .paper-recording {
    padding-top: 5px;
    font-weight: 500;
    font-size: max(11px, 0.9em);
    font-style: italic;
    color: #a2a2a2;
    font-family: "Open Sans", Georgia, Cambria, "Times New Roman", Times, serif;
}